.user {
  border-radius: 8px;
  margin-bottom: 40px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.user-background {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 96px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.user-header {
  margin-top: 96px;
  display: flex;
}

.user-avatar {
  border: 4px solid #fff;
  border-radius: 100%;
  margin-top: -72px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  flex-shrink: 0;
  background: #fff;
}

.user-avatar img {
  width: 100%;
  height: auto;
}

.avatar-placeholder {
  filter: blur(15px);
}

.user-info {
  margin-left: 24px;
}

.name {
  margin: 0 0 8px;
  line-height: 1.2;
  font-size: 24px;
}

.username {
  margin: 0;
  text-transform: lowercase;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

.user-footer {
  margin-top: 40px;
  padding: 24px 0 0 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
}
