.user-albums {
  margin-right: auto;
}

.albums-label {
  margin: 0 0 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: rgba(0, 0, 0, 0.4);
}

.albums-value {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
}
