.post {
  border-radius: 8px;
  margin: 0 auto 40px auto;
  padding: 40px;
  width: 100%;
  max-width: 800px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.title {
  margin: 0 0 16px;
  line-height: 1.25;
  font-size: 24px;
  text-transform: capitalize;
}

.author-info {
  margin: 0 0 24px;
  display: flex;
  align-items: center;
}

.author-avatar {
  margin-right: 24px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.author-name {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

.post-body {
  font-size: 16px;
  line-height: 1.75;
}

.post-details {
  margin-top: 40px;
}

.post-detail-label {
  margin: 0 0 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: rgba(0, 0, 0, 0.4);
}

.post-detail {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.4);
}

